<canvas id="myChart" width="1200" height="600"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext("2d");
var myChart = new Chart(ctx, {
  type: "line",
  data: {
    datasets: [
      {
        label: "BTC/USD",
        data: <%= @chart_data.html_safe %>,
        fill: false,
        borderColor: "#ff9900",
      },
    ],
  },
  options: {
    responsive: false,
    title: {
      display: false,
    },
    tooltips: {
      mode: "index",
      intersect: false,
    },
    hover: {
      mode: "nearest",
      intersect: true,
    },
    scales: {
      xAxes: [
        {
          type: "time",
          time: {
            format: "YYYY-MM-DD",
            tooltipFormat: "ll",
          },
          scaleLabel: {
            display: true,
            labelString: "Date",
          },
        },
      ],
      yAxes: [
        {
          scaleLabel: {
            display: true,
            labelString: "USD",
          },
        },
      ],
    },
  },
});
</script>
